<h1>About Us</h1>
<p>
  <a href="http//railstutorial.org">Ruby on Rails Tutorial</a> is a project to make a book and screencast to teach WEB development with Ruby on Rails. this is the sample application tutorial.
</p>
